.content {
margin-left: 40px;
}
.postheader h1, h2, h3, h4 {
    color: #66bb6a;
font-family: 'Lobster', cursive;
}  */
.date {
color: #828282;
}
.save {
float: right;
}
.post-form textarea, .post-form input {
width: 100%;
}

.post {
margin-bottom: 70px;

}
.post h1 a, .post h1 a:visited {
color:  #66bb6a;
font-family: 'Lobster', cursive;
} 