<article>
        <div class="post-img">
            <a href="#"><img class="img-responsive" src="images/Details-img-1.jpg" alt="Post"/></a>
        </div>
        <a href="#" class="btn btn-default btn-sm btn-category" type="submit">business</a>
        <a href="#"><h2 class="post-title">React To The Future With Isomorphic Apps</h2></a>
        <div class="post-meta">
            <span><a href="#"><i class="fa fa-share-alt post-meta-icon"></i> 400 Shares </a></span>
            <span><a href="#"><i class="fa fa-comments post-meta-icon"></i> 20 Comments </a></span>
            <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> april 13, 2015 </a></span>
        </div>
        <div class="post-content">
            <p class="post">Things often come full circle in software engineering. The web in particular started with servers delivering content down to the client. Recently with the creation of modern web frameworks such as Angular JS and Ember, we've seen a push to render on the client and only use a server for an API</p>
            <p class="post">We're now seeing a possible return or, rather, more of a combination of both architectures happening</p>
            <p class="post">Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco blboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="post">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Things often come full circle in software engineering. The web in particular started with servers delivering content down to the client. Recently with the creation of modern web frameworks such as Angular JS and Ember, we've seen a push to render on the client and only use a server for an API</p>
            <p class="post">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.Things often come full circle in software engineering. The web in particular started with servers delivering content down to the client. Recently with </p>
            <p class="post">We're now seeing a possible return or, rather, more of a combination of both architectures happening</p>
        </div>
    </article>
    <div class="author">
        <div class="author-img">
            <img class="img-responsive img-circle" src="images/author.jpg" alt="author"/>
        </div>
        <div class="author-post">
            <h4>Rock Man</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin linkedin"></i></a></li>
        </div>
    </div>
    <div class="row related-post">
        <h4>related posts</h4>
        <div class="col-md-6 col-sm-6">
            <a href="#">
                <img class="img-responsive" src="images/post-img-9.jpg" alt=""/>
                <p class="post-title">fixing rwd issues canbe quite easy once you understand</p>
            </a>
        </div>
        <div class="col-md-6 col-sm-6">
            <a href="#">
                <img class="img-responsive" src="images/post-img-4.jpg" alt=""/>
                <p class="post-title">fixing rwd issues canbe quite easy once you understand</p>
            </a>
        </div>
        <div class="col-md-6 col-sm-6">
            <a href="#">
                <img class="img-responsive" src="images/post-img-8.jpg" alt=""/>
                <p class="post-title">fixing rwd issues canbe quite easy once you understand</p>
            </a>
        </div>
        <div class="col-md-6 col-sm-6">
            <a href="#">
                <img class="img-responsive" src="images/post-img-10.jpg" alt=""/>
                <p class="post-title">fixing rwd issues canbe quite easy once you understand</p>
            </a>
        </div>
    </div>
    <div class="comment-post">
        <h3>12 comments</h3>
        <div class="comment">
            <div class="author-img">
                <img class="img-responsive img-circle" src="images/author.jpg" alt="author"/>
            </div>
            <div class="author-post like-section">
                <h4>Jeffrey Bennett</h4>
                <div class="post-meta comment">
                    <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> April 22, 2015 </a></span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <li><a href="#"><i class="fa fa-thumbs-up"></i></a></li>
                <li><a href="#"><i class="fa fa-thumbs-down"></i></a></li>
                <li><a class="pull-right" href="#">Reply</a></li>
            </div>
        </div>
        <div class="comment reply-post">
            <div class="author-img">
                <img class="img-responsive img-circle" src="images/author.jpg" alt="author"/>
            </div>
            <div class="author-post like-section">
                <h4>Mauricio</h4>
                <div class="post-meta comment">
                    <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> April 22, 2015 </a></span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <li><a href="#"><i class="fa fa-thumbs-up"></i></a></li>
                <li><a href="#"><i class="fa fa-thumbs-down"></i></a></li>
                <li><a class="pull-right" href="#">Reply</a></li>
            </div>
        </div>
    </div>
    <div class="form-body">
        <h3>leave a reply</h3>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address*</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password*</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Message*</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-success form-btn">Submit</button>
            <div class="checkbox details-page">
                <input id="option2" type="checkbox" name="field" value="option2">
                <label for="option2"><span><span></span></span>Notify me of followup comments via e-mail</label>
            </div>
        </form>
    </div>