<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CodeHub footer</title>

        <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
	<link rel="stylesheet" type="text/css" href="css/offcanvas.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
    </head>
    <body>
         -->
<footer>
    <div class="footer-menu">
        <div class="container">
            <div class="col-md-4 col-sm-4 center-block">
                <h3 class="footer-head">CodeHub Blogging Panel</h3>
                <p>Where programmers share and learn ideas.</p>
                <div class="social">
                    <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus google-plus"></i></a></li>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 mobile-footer center-block">
                <h4 class="footer-head">Get Started</h3>
                <ul class="ul-left">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Sign In</a></li>
                   
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 mobile-footer center-block">
                <h4 class="footer-head">Support</h3>
                <ul class="ul-left">

                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    
                    
                </ul>
                <ul class="ul-right">
                        <li><a href="#">terms use</a></li>
                        <li><a href="#">privacy policy</a></li>
                </ul>
            </div>
        </div>
    </div><!-- Footer-menu -->
    <div class="footer-nav">
        <div class="container">
            <div class="col-md-6 col-sm-5">
                <p>&copy; 2018 CodeHub </p>
            </div>
        </div>
        <!-- Go TO TOP -->
        <div id="toTop" class="btn btn-info" style="display: block;">
            <span class="fa fa-angle-up"></span>
        </div><!-- /Go-to-top -->
    </div>
</footer>
</div><!-- /Wrapper -->


<!-- </body>
</html> -->
