<footer>
        <div class="footer-menu">
            <div class="container">
                <div class="col-md-4 col-sm-4 center-block">
                    <h3 class="footer-head">CodeHub</h3>
                    <p>where programmers share and learn ideas </p>
                    <div class="social">
                        <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus google-plus"></i></a></li>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 mobile-footer center-block">
                    <h4 class="footer-head">Public</h3>
                        <ul class="ul-left">
                            <li><a href="#">Teams</a></li>
                            <li><a href="#">Talent</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Help</a></li>
                           
                </div>
                <div class="col-md-4 col-sm-4 mobile-footer center-block">
                    <h4 class="footer-head">Product</h3>
                    <ul class="ul-left">
                        <li><a href="#">Questions</a></li>
                        <li><a href="#">Tags</a></li>
                        <li><a href="#">Engagements</a></li>
                        <li><a href="#">Enterprise</a></li>
                       
                   
                </div>
            </div>
        </div><!-- Footer-menu -->
        <div class="footer-nav">
            <div class="container">
                <div class="col-md-6 col-sm-5">
                    <p>&copy; 2015 Author bloging template</p>
                </div>
                <div class="col-md-6 col-sm-7">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a href="#">support</a></li>
                        <li><a href="#">careers</a></li>
                        <li><a href="#">terms use</a></li>
                        <li><a href="#">privacy policy</a></li>
                    </ul>
                </div>
            </div>
            <!-- Go TO TOP -->
            <div id="toTop" class="btn btn-info" style="display: block;">
                <span class="fa fa-angle-up"></span>
            </div><!-- /Go-to-top -->
        </div>
    </footer>