<header>
        <!--========================== Header-Top ================================-->
        <div class="header-top">
            <div class="container">
                <div class="col-md-9 col-sm-7 xs-view">
                        {% load static %}
                    <a href="{% url 'blog:index' %}"><img class="logo" height="95px" src="{% static 'blog/images/logo.png' %}"/></a>
                </div>
                <div class="col-md-3 col-sm-5 xs-view-right">
                    <div class="search-section center-block">
                           

                            {% if request.user.is_authenticated %}
                            
                                <h3 style="color: #fff">Welcome, {{ request.user.username }}&nbsp;&nbsp;

                                    <a class="btn btn-danger" href="{% url 'blog:logout' %}">log Out</a>
                                </h3>
                            {% else %}
                            
                         <h2>
                            <a class="btn btn-success" href="{% url 'blog:login' %}">Sign In</a>
                            <a class="btn btn-primary" href="{% url 'blog:signup' %}">Sign Up</a>
                            {% endif %}
                        </h2>
                    </div>
        
                </div>
            </div>
        </div><!-- header-top -->
        
        <!--========================== Header-Nav ================================-->
        <div class="header-nav">
            <nav class="navbar navbar-default">
                <div class="container">
                    <p class="pull-left visible-xs">
                        <button type="button" class="navbar-toggle" data-toggle="offcanvas">
                            <i class="fa fa-long-arrow-right"></i>
                            <i class="fa fa-long-arrow-left"></i>
                        </button>
                    </p>
                    <div class="social-nav center-block visible-xs">
                        <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus google-plus"></i></a></li>
                    </div>
                    <!--toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="{% url 'blog:index' %}">home</a></li>
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'blog:dashboard' %}">dashboard</a></li>
                            {% endif %}
                            <li><a href="{% url 'blog:about' %}">about</a></li>
                            <!-- <li><a href="#details.html">Post Details</a></li> -->
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-xs">
                            <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus google-plus"></i></a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-->
            </nav>
        </div><!-- Header-Nav -->
    </header>