<!--========================== Right-Sidebar ================================-->
<div class="col-md-3 col-sm-12 col-xs-12">
        <div class="right-sidebar">
            <div class="righ-sidebar-body">
                <div class="item">
                    <a href="#"><h4 class="post-title slide-title">popular posts</h4></a>
                  
               
                <div class="col-md-12 col-sm-6 email-section">
                    <form>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address">
                        <button type="submit" class="btn btn-default btn-xs"><i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div><!-- Righ-sidebar-body -->
        </div><!-- Right-Sidebar -->
    </div>