
                              <!-- Tab panes -->
                             
                                  <div role="tabpanel" class="tab-pane active" id="signin">
                                      <ul class="user-dropdown">
                                          <div class="login-area">
                                              <div class="form-group">
                                                  <label for="exampleInputText1">Username</label>
                                                  <input type="email" class="form-control" id="exampleInputEmail1">
                                              </div>
                                              <div class="form-group">
                                                  <label for="exampleInputPassword1">Password</label>
                                                  <input type="password" class="form-control" id="exampleInputPassword1">
                                              </div>
                                          </div>
                                          <div class="checkbox">
                                              <input id="option" type="checkbox" name="field" value="option">
                                              <label for="option"><span><span></span></span>Keep me singed in</label>
                                              <a href="#" class="pull-right">Forgot?</a>
                                          </div>
                                          <div class="form-submit">
                                                  <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                          </div>
                                      </ul><!-- /User-Dropdown-->
                                  </div><!-- /#Sing in -->
                                
                              
                          