{% extends 'blog/layout.html' %}

{% block content %}
<h1>About CodeHub</h1>
<p>CodeHub is a learning platform designed to help programmers, web designers and learners share thier ideas to create personalised learning environments and also build on thier career.
    professional and aspiring programmers visit Codehub to help solve coding problems, develop new skills, and find job opportunities.</p>
<p>CodeHub partners with businesses to help them understand, hire, engage, and enable the world's developers. Our products and services are focused on developer marketing, technical recruiting, market research, and enterprise knowledge sharing.</p>

{% endblock %}