{% extends 'blog/layout.html' %}

{% block content %}
<div>
    <a class="btn btn-success pull-right" href="{% url 'blog:create' %}">
        <i class="fa fa-plus"></i>
        Create Post
    </a>
</div>
    <h2 class="pos">Your Posts</h2>
<hr>
{% if posts %}
<div class="table-responsive">

        <table class="table">
            {% for post in posts %}
                <tr>
                    <td>
                       <strong><a href="{% url 'blog:details' post.id %}">{{ post.title }}</a></strong> 
                    </td>
                    <td>
                        <a href="{% url 'blog:edit' post.id %}" class="btn btn-warning" type="button">Edit</a>
                    </td>
                    <td>
                        <a href="{% url 'blog:deletepost' post.id %}" class="btn btn-danger" type="button">Delete</a>
                    </td>
                    <td>
                        <a href="{% url 'blog:publishpost' post.id %}" class="btn btn-primary" type="button">Publish</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
</div>
{% else %}
    <h1>No Post Created Yet</h1>
    <p>Use the button at the top</p>
{% endif %}
{% endblock %}